* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  outline: none;
  border: none;
  text-transform: capitalize;
}
body {
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container {
  width: 500px;
  height: 320px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}
.title {
  text-align: center;
  font-weight: 200;
  margin-bottom: 20px;
}
.container p {
  font-size: 15px;
  margin-bottom: 20px;
}
.input {
  width: 100%;
  padding: 3px;
  border: 1px solid rgba(128, 128, 128, 0.668);
  border-radius: 4px;
  margin-bottom: 20px;
}
.btn {
  width: 100%;
  height: 30px;
  color: #fff;
  border-radius: 5px;
  background-color: rgb(35, 207, 35);
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 18px;
}
.btn:hover {
  background-color: rgb(26, 148, 26);
}
label {
  font-size: 15px;
}
